body {
    position: relative;
    margin: 0;
    padding: 0;
}

.textoBranco {
    color: #e9e9e9 !important;
}

.textoPreto {
    color: #222831 !important;
}

h1 {
    margin: 15px 0;
}

.centro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centroPcBlockCelular {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centroCelularBlockPc {
    display: block;
    justify-content: center;
    align-items: center;
}

.centroTexto {
    text-align: center;
}

.displayBlockMarcao {
    display: initial;
    width: 100%;
}

.justificarTexto {
    text-align: justify;
}

.margemVertical {
    margin-top: 10px;
    margin-bottom: 10px;
}

.centralizarTextoVerticalPai {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centralizarTextoVerticalFilho {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
}

/* tabelas */

.tabelaCima {
    width: 100%;
    height: 50px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px #222831 solid;
}

.tabelaEsquerda {
    position: absolute;
    padding: 10px;
    top: 60px;
    left: 0;
    width: 12%;
    height: calc(100vh - 120px);
    border-top: 2px #222831 solid;
    border-right: 2px #222831 solid;
    border-bottom: 2px #222831 solid;
}

.tabelaCentro {
    position: fixed;
    padding: 10px;
    right: 4%;
    top: 60px;
    width: 82%;
    height: calc(100vh - 120px);
    border: 2px #222831 solid;
}

.tabelaDireita {
    position: fixed;
    right: 6%;
    bottom: 75px;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 2px #222831 solid;
}

.tabelaBaixo {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px #222831 solid;
}

/* ITENS DAS TABELAS */

.imgTabelaEsquerda {
    width: 50%;
    background-color: gray;
}

.botaoTabelaEsquerda {
    border: 2px #222831 solid;
    width: 100%;
    font-size: 12px;
    text-align: center;
    padding: 2px;
}

.botaoTabelaEsquerda:hover {
    border: 2px #222831 solid;
}

/* itens dos posts */

.tabelaPosts {
    width: 100%;
    max-height: calc(100vh - 140px);
    padding: 5px;
    scroll-behavior: auto;
    overflow: auto;
    border: #222831 2px solid;
}

.caixaPost {
    position: relative;
    width: 70%;
    margin-left: 15%;
    border: #222831 2px solid;
    height: 60vh;
}

.caixaUserImg {
    padding: 4px;
    position: absolute;
    top: 1vh;
    width: 28%;
    height: 28vh;
    left: 1%;
    border: #222831 2px solid;
}

.caixaPostTexto {
    padding: 4px;
    position: absolute;
    bottom: 1vh;
    width: 28%;
    height: 28vh;
    left: 1%;
    font-size: 12px;
    border: #222831 2px solid;
}

.caixaConteudoPost {
    padding: 4px;
    position: absolute;
    bottom: 1vh;
    width: 68%;
    height: calc(58vh - 2px);
    right: 1%;
    border: #222831 2px solid;
}

.divisoriacaixaPostTexto {
    border: 1px solid #222831;
    margin: 3px 0;
}

.caixaPostTextoJustificado::first-letter {
    font-size: 14px;
    font-weight: 900;
    text-align: justify;
}

.grupoImagemENickUser {
    margin-top: 8px;
    padding: 5px;
    border: #222831 2px solid;
    margin-bottom: 4px;
}

.botaoCurtir {
    margin: 3px 1%;
    width: 48%;
    border: #222831 1px solid;
}

.botaoSeguir {
    margin: 3px 1%;
    width: 48%;
    border: #222831 1px solid;
}

.botaoComentar {
    margin: 3px 1%;
    width: 98%;
    border: #222831 1px solid;
}

.botaoComentar,
.botaoSeguir,
.botaoCurtir {
    text-align: center;
    font-size: 10px;
}

.botaoComentar:hover,
.botaoSeguir:hover,
.botaoCurtir:hover {
    transition: 0.8s;
    background: gray;
}

.posicionaTabelaCimaUserFoto {
    /* margin-bottom: 15px; */
    border: initial;
}

.posicionaTabelaCimaUserNome {
    text-align: center;
    font-size: 12px;
}

/* ITENS DE CONTEUDO POST */

.tamanhoComeImgPost {
    width: 100%;
}

.tamanhoFlexFormPost {
    width: 100%;
}

.imgDaPostagem {
    width: 60%;
    border: #222831 1px solid;
}

.inputcomentarioText {
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 1%;
    margin-right: 1%;
    width: 63%;
}

.inputcomentarioBtn {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 1%;
    margin-right: 1%;
    width: 33%;
    border: #222831 2px solid;
}

.inputcomentarioBtn:hover {
    background-color: gray;
    border: #222831 2px solid;
}

/* footer itens */
.footerMarcao {
    position: relative;
    width: 100%;
}

.textoFooter {
    text-align: center;
    /* font-size: 12px; */
}

.btnFooter1 {
    position: absolute;
    padding: 2px;
    left: 10px;
    width: 45px;
    height: 45px;
    border: #222831 2px solid;
}

.btnFooter2 {
    position: absolute;
    padding: 2px;
    right: 10px;
    width: 45px;
    height: 45px;
    border: #222831 2px solid;
}

.imgFooter {
    width: 100%;
}

@media (max-width: 990px) {
    .centroPcBlockCelular {
        display: block;
        justify-content: center;
        align-items: center;
    }

    .centroCelularBlockPc {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tabelaCima {
        width: 100%;
        height: 55px;
        padding: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 2px #222831 solid;
    }
    .fundoNavBar {
        background-color: #e9e9e9;
        padding: 5px;
        z-index: 100;
        text-align: center;
    }

    .tabelaEsquerda {
        width: 20%;
        border-radius: 0;
        padding: 4px;
    }

    .tabelaCentro {
        padding: 5px;
        width: 75%;
        right: 2%;
    }

    .caixaPost {
        width: 90%;
        margin-left: 5%;
        height: 50vh;
    }

    .tabelaDireita {
        width: 60px;
        height: 60px;
        right: 6%;
        bottom: 90px;
        font-size: 12px;
        word-break: break-all;
        opacity: 0.5;
        /* background: ; */
    }
    .tabelaDireita:hover {
        opacity: 1;
    }
    .textoMaisPostagens {
        display: none;
    }

    .botaoTabelaEsquerda {
        font-size: 10px;
    }

    .caixaUserImg {
        padding: 2px;
        width: 96%;
        height: 14vh;
        top: 1vh;
        bottom: initial;
        left: 2%;
    }
    .caixaPostTexto {
        padding: 2px;
        width: 96%;
        height: 15vh;
        top: 16vh;
        left: 2%;
        bottom: initial;
        font-size: 10px;
        text-align: left !important;
    }
    .caixaPostTextoJustificado::first-letter {
        font-size: 12px;
        text-align: left;
    }
    .caixaConteudoPost {
        padding: 2px;
        height: 17vh;
        width: 96%;
        bottom: 1vh;
        right: 2%;
    }

    .posicionaTabelaCimaUserNome {
        font-size: 10px;
    }

    .grupoTabelaCimabotoes {
        width: 60%;
        font-size: 10px;
    }

    .grupoImagemENickUser {
        padding: 3px;
        margin-left: 1%;
        margin-right: 1%;
        width: 40%;
        font-size: 12px;
        text-align: center;
        /* word-break: break-all; */
    }

    /* nao desanime meu filho */

    .imgDaPostagem {
        width: 80%;
        border: #222831 1px solid;
    }

    .inputcomentarioText {
        width: 96%;
        border: #222831 2px solid;
        border-radius: 5px;
    }

    .inputcomentarioBtn {
        width: 96%;
    }

    /* footer detalhes */

    .footerMarcao {
        position: relative;
        width: 100%;
    }

    .textoFooter {
        text-align: center;
        font-size: 12px;
    }

    .btnFooter1 {
        position: absolute;
        left: 10px;
        width: 45px;
        height: 45px;
    }

    .btnFooter2 {
        position: absolute;
        right: 10px;
        width: 45px;
        height: 45px;
    }

    .tabelaBaixo {
        height: 55px;
    }
}
